body {
  font-family: 'Sofia Pro', sans-serif;
  background-color: #ffff;
}

// Override to set full width
.react-datepicker-wrapper {
  width: 100%;
  display: inline-block;
  padding: 0;
  border: 0;
}